html,
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 90vh;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  margin: 5rem 3rem;
  display: grid;
  place-items: center;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  width: 50%;
  height: 60rem;
  border-radius: 0.3rem;
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    /* bottom, image */ url(/img/bg.jpg);
  background-size: cover;
}

.container {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.container:before,
.container:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.container:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

nav,
footer {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10rem;
}

footer {
  display: flex;
  align-items: center;
}

main {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper {
  width: 12rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3rem;
  background-color: #e8ebe9;
  -webkit-box-shadow: 3px 3px 18px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 18px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 18px -8px rgba(0, 0, 0, 0.75);
}

#clockdiv {
  height: 15rem;
  width: 70rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.3rem;
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 7rem;
  font-weight: 700;
  color: #353535;
}

.smalltext {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding-top: 1rem;
  color: #353535;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #637a90;
}

nav ul,
footer ul {
  list-style: none;
  display: flex;
}

.item {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 1rem;
  color: #5b6c7c;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
}

input {
  font-family: inherit;
  width: 25rem;
  height: 3.5rem;
  border: none;
  outline: none;
  border-radius: 10rem;
  background-color: rgba(241, 241, 241, 0.4);
  padding: 0 2rem;
  color: #5b6c7c;
}

::-webkit-input-placeholder {
  font-size: 1rem;
  color: #5b6c7c;
}

.btn {
  font-family: inherit;
  font-size: 1rem;
  height: 3.5rem;
  width: 8rem;
  border: none;
  outline: none;
  border-radius: 0 3rem 3rem 0;
  margin-left: -3rem;
  color: #5b6c7c;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.btn:hover {
  cursor: pointer;
}

.btn2 {
  width: 3rem;
  height: 3rem;
  border: none;
  outline: none;
  margin-left: 1.5rem;
  background-color: rgba(255, 255, 255, 0.418);
  border-radius: 50%;
}

.btn3 {
  border: none;
  outline: none;
}

.btn2:hover {
  cursor: pointer;
}

.icon,
.icon2 {
  fill: #5b6c7c;
}

.icon2 {
  height: 1.1rem;
  width: 1.1rem;
}

.icon {
height: 2rem;
width: 2rem;
}

.social-icons {
  height: 10rem;
  width: 3rem;
  position: absolute;
  top: 38%;
  left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}